# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.log

# C extensions
*.so
.idea/
quantize/.idea/

# Distribution / packaging
.Python

quantize/core/k_data.7z
quantize/core/k_data/
quantize/core/mysql_setting.py
quantize/disk_hist_data_cache/
quantize/logs/
quantize/tmp.txt


# MacOS
.DS_Store
quantize/django_web/pepper/db.sqlite3
# quantize/django_web/pepper/db.sqlite3.sync

# quantize/notebooks/.ipynb_checkpoints/
.ipynb_checkpoints
